<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_SMSDev</key>
	<string>5DZ6RYZ3BOODSLT23R4JG5R76U68V1DGBD5QS6CFDY2QM3T5RVJWOTIC86FN0DJN2T3KS5HHQ6928KCYQQ5KVWTJJLESKV2FS6AE8ANI2TZWEVAYWL8VAC6MFIDC1JWJ</string>
	<key>API_KEY_MessageBird_live</key>
	<string>DauToYYYuwJ3h9RjVxECSqANl</string>
	<key>API_KEY_MessageBird_test</key>
	<string>klTxmFg3KY18o60gzxd7StXD8</string>
</dict>
</plist>
